@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6d5;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

/* Header */
.header-wrapper {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #585858;
  background: #f6f6d5;
  position: fixed;
  top: 0;
  width: 100%;
}

.site-name {
  margin: 56px 500px 56px 100px;
  font-size: 3em;
  font-weight: bold;
  text-transform: none;
}

.header-nav {
  margin: 60px 0px;
  font-size: 2em;
}

.header-nav a {
  margin-right: 90px;
  text-decoration: none;
  color: black;
}

.shopping-cart {
  margin-top: 45px;
  font-size: 2em;
  color: white;
  height: 50px;
  width: 50px;
  background: black;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .header-wrapper {
  display: flex;
} */

/* Main */
.main-wrapper {
  display: flex;
  margin-top: 150px;
}
/* Sidebar */

.sidebar-wrapper {
  width: 388px;
  height: auto;
  /* position: fixed; */
}
.filter-nav {
  margin: 42px 0px 0px 40px;
  list-style-type: disc;
  font-size: 1.7em;
  position: fixed;
}
.filter-nav ul {
  padding-left: 10px;
}
.filter-nav li {
  margin-bottom: 27px;
}
.filter-nav a {
  color: black;
  text-decoration: none;
}

.main-nav,
.main-items {
  width: 100%;
}
.nav a {
  margin-right: 110px;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}
.left-nav {
  margin-left: 346px;
}
.nav {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #585858;
  border-bottom: 1px solid #585858;
  /* position: fixed; */
}
.right-nav {
  display: flex;
  align-items: center;
  margin-right: 75px;
}

.shopping-items {
  display: flex;
  flex-wrap: wrap;
}
.item {
  height: 479px;
  width: 384px;
  border-left: 1px solid #585858;
  border-bottom: 1px solid #585858;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sneakers-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sneakers-img img {
  width: 244px;
  height: auto;
  margin-bottom: 60px;
}
.heart {
  margin: 20px 0px 0px 321px;
}
.item h2 {
  margin: 0px 0px 8px 45px;
  font-size: 2.2em;
  font-weight: normal;
}
.item h3 {
  margin: 0px 0px 60px 45px;
  font-size: 1.7em;
  font-weight: normal;
  color: #585858;
}

.price {
  display: flex;
  justify-content: space-between;
}

.item h4 {
  margin: 0px 0px 30px 45px;
  font-size: 2.4em;
}
.add-cart-btn {
  margin-right: 25px;
  text-decoration: none;
  font-size: 2.2em;
  color: white;
  height: 40px;
  width: 40px;
  border: none;
  background: black;
  border-radius: 100px;
}

.last-item-border {
  border-right: 1px solid #585858;
}


.is-active {
  font-weight: bold;
}


.footer-wrapper {
height: 368px;
background: #C9C9AE;
border-top: 1px solid #585858;
display: flex;
flex-direction: column;
}
.footer1 {
  display: flex;
  justify-content: space-between;

}
.left-footer {
  display: flex;
  margin: 105px 0px 0px 335px;
}

.left-footer ul {
  list-style-type: none;
}

.left-footer1{
  font-size: 1.8em;
  margin-right: 180px;
}

.left-footer li {
  margin-bottom: 10px;
}

.left-footer2 li{
  font-size: 1.5em;
  color: #585858;
  text-transform: capitalize;
}

.left-footer2 li:first-child {
  font-size: 1.8em;
  color: black;
  text-transform: uppercase;
}

.right-footer {
  margin: 104px 132px 0px 0px;
}
.right-footer a {
  margin-left: 76px;
}

.sous-footer {
  width: 1375px;
  border-top: 1px solid black;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  margin-top: 30px;
  margin-left: 200px;
}

.left p {
  margin-left: 10px;
  font-size: 1.3em;
}

.right {
margin: 30px 182px 0px 0px

}
.right a {
  text-decoration: none;
  margin-left: 50px;
}