/*  import de la font */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
/* parametres generaux */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6d5;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

/* Header */
.header-wrapper {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #585858;
  background: #f6f6d5;
  position: fixed;
  top: 0;
  width: 100%;
}

.site-name {
  margin: 56px 35% 56px 100px;
  font-size: 3em;
  font-weight: bold;
  text-transform: none;
}

.header-nav {
  margin: 60px 0px;
  font-size: 2em;
}

.header-nav a {
  margin-right: 90px;
  text-decoration: none;
  color: black;
}
.header-search {
  margin-right: 45px;
  display: none;
  justify-content: center;
  align-items: center;
}
.shopping-cart {
  position: relative;
  margin-top: 45px;
  font-size: 2em;
  color: white;
  height: 50px;
  width: 50px;
  z-index: 3;
  background: black;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-menu {
  margin-top: 45px;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  border: 1px solid black ;
  display: none;
  justify-content: center;
  align-items: center;
}


/* Main */
.main-wrapper {
  display: flex;
  margin-top: 150px;
  /* width: 100%; */
}
/* Sidebar */

.sidebar-wrapper {
  width: 20%;
  height: auto;
  border-right: 1px solid #585858;
  /* border-bottom: 1px solid #585858; */
}
.filter-nav {
  margin: 42px 0px 0px 40px;
  list-style-type: disc;
  font-size: 1.7em;
  position: fixed;
}
.filter-nav ul {
  padding-left: 10px;
}
.filter-nav li {
  margin-bottom: 27px;
}
.filter-nav a {
  color: black;
  text-decoration: none;
}

.main-nav,
.main-items {
  width: 100%;
}
.nav a {
  margin-right: 110px;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}
.left-nav {
  margin-left: 346px;
}
.nav {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #585858;
}
.right-nav {
  display: flex;
  align-items: center;
  margin-right: 75px;
}

.shopping-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.item {
  height: 479px;
  width: 25%;
  border-right: 1px solid #585858;
  border-bottom: 1px solid #585858;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sneakers-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sneakers-img img {
  width: 65%;
  height: auto;
  margin-bottom: 60px;
}
.heart {
  margin: 20px 0px 0px 86%;
}
.item h1 {
  margin: 0px 0px 8px 45px;
  font-size: 2.2em;
  font-weight: normal;
}
.item h2 {
  margin: 0px 0px 60px 45px;
  font-size: 1.7em;
  font-weight: normal;
  color: #585858;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
}

.item h3 {
  margin: 0px 0px 30px 45px;
  font-size: 2.4em;
}
.add-cart-btn {
  margin-right: 25px;
  text-decoration: none;
  font-size: 2.2em;
  color: white;
  height: 40px;
  width: 40px;
  border: none;
  background: black;
  border-radius: 100px;
}

.last-item-border {
  border-right: 1px solid #585858;
}


.is-active {
  font-weight: bold;
}


.footer-wrapper {
height: 368px;
background: #C9C9AE;
border-top: 1px solid #585858;
display: flex;
flex-direction: column;
}
.footer1 {
  display: flex;
  justify-content: space-between;

}
.left-footer {
  display: flex;
  margin: 105px 0px 0px 335px;
}

.left-footer ul {
  list-style-type: none;
}

.left-footer1{
  font-size: 1.8em;
  margin-right: 180px;
}

.left-footer li {
  margin-bottom: 10px;
}

.left-footer2 li{
  font-size: 1.5em;
  color: #585858;
  text-transform: capitalize;
}

.left-footer2 li:first-child {
  font-size: 1.8em;
  color: black;
  text-transform: uppercase;
}

.right-footer {
  margin: 104px 20% 0px 0px;
}
.right-footer a {
  margin-left: 76px;
}

.sous-footer {
  width: 80%;
  border-top: 1px solid black;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  margin-top: 30px;
  margin-left: 200px;
}

.left p {
  margin-left: 10px;
  font-size: 1.3em;
}

.right {
margin: 30px 182px 0px 0px

}
.right a {
  text-decoration: none;
  margin-left: 50px;
}

.seeMore {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0px;
}

.see-more {
  text-transform: uppercase;
font-size: 1.8em;
background: none;
padding: 8px 22px;

}

.cart {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 66%;
  height: 762px;
  width: 550px;
  background: #F6F6D5;
  box-shadow: 0px 0px 10px black;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.blank {
  
  height: 85px;
  width: 100%;
}

.cart-item {
  margin: 10px auto 0px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.cart-item img {
  width: auto;
  height: 90px;
  
}
.descriptif {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.descriptif p:first-child {
  font-size: 1.8em;
  margin-bottom: 8px;
}
.descriptif p:nth-child(2) {
  font-size: 1.7em;
  margin-bottom: 8px;
}
.descriptif p:last-child {
  font-size: 1.5em;
}

.total-wrapper {
  margin-top: 10px;
  align-self: flex-end;
  height: auto;
  width: 100%;
  background: #F6F6D5;
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.sub-total,
.shipping-cost{
width: 100%;
height: 30px;
display: flex;
justify-content: space-between;
margin: 20px 80px 0px 60px;
font-size: 1.7em;
}

.separator {
 height: 1px;
 width: 70%;
 background: black;
 margin: auto;
 margin-top: 30px;
}

.total {
 width: 100%;
 height: 30px;
 display: flex;
 justify-content: space-between;
 margin: 10px 80px 35px 60px;
 font-size: 1.7em;




}


.show {
  display: flex;
}

/* Média Queries */

@media (max-width: 1860px) { 
  .site-name {
    margin: 56px 29% 56px 100px;
  }

  .shopping-cart {
    margin-right: 50px;
  }
}
@media (max-width: 1824px) { 
  .site-name {
    margin: 56px 25% 56px 100px;
  }
}
@media (max-width: 1730px) { 
  .site-name {
    margin: 56px 23% 56px 100px;
  }
}
@media (max-width: 1685px) { 
  .site-name {
    margin: 56px 20% 56px 100px;
  }
}
@media (max-width: 1622px) { 
  .site-name {
    margin: 56px 15% 56px 100px;
  }
}
@media (max-width: 1530px) { 
  .site-name {
    margin: 56px 12% 56px 100px;
  }
  .left-footer {
    margin-left: 10%;
  }
  /* .left-footer1 {
    margin-right: 10%;
  } */
}
@media (max-width: 1475px) { 
  .site-name {
    margin: 56px 10% 56px 100px;
  }
  .item h1 {
    font-size: 2em;
  }
  .heart {
    margin-left: 80%;
  }
}
@media (max-width: 1445px) { 
  .site-name {
    margin: 56px 10% 56px 100px;
  }
  .burger-menu {
    display: flex;
    margin-right: 50px;
  }
  .header-nav {
    display: none;
  }
  .header-wrapper {
    justify-content: space-between;
  }
  .header-left-nav {
    display: flex;
  }
}
@media (max-width: 1300px) { 
.item {
  width: 33.33%;
  }
}

@media (max-width: 1200px) { 
 .sidebar-wrapper {
   display: none;
 }
 .right-footer {
    margin-right: 10%;
  }
}

@media (max-width: 995px) { 
 .search {
   display: none;
 }
 .header-search {
  display: flex;
 }
}

@media (max-width: 965px) { 
 .left-nav :nth-child(2),
 .left-nav :nth-child(3){
   display: none;
 }
 .nav {
   justify-content: center;
 }
 .left-nav {
   margin: 0;
   display: flex;
   justify-content: center;
 }
 .left-nav a {
   margin: 0;
 }
}
@media (max-width: 750px) { 
 .item {
   width: 50%;
   height: auto;
 }
}